<div id="main-wrapper">  
    <app-header></app-header>
    <app-sidebar></app-sidebar>
  
    <div class="page-wrapper">
      <div class="container-fluid">
          <!-- Breadcrumbs -->
          <app-breadcrumbs></app-breadcrumbs>
          <!-- ============================================================== -->
          <!-- Contenido de los cards y components -->
          <!-- ============================================================== -->
          <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer text-center">
          © {{ year }} Nicolás Bruno
      </footer>
      </div>
    </div>
  </div>
